.settings{
  label >,
   li>{
    button{
      float: right;
      margin-left: 5px;
    }
  }
  .row{
    button{
      margin-top: 10px;
    }
  }
  .panel{
      a[data-parent="#accordion"]{
        width: 100%;
        height: 100%;
        display: block;
        &.collapsed{
          .glyphicon-chevron-up{
            transform: rotate(180deg);
          }
        }
        .glyphicon:first-child{
          margin-right:10px;
        }
      }
      .glyphicon-chevron-up{
        float:right;
      }
  }
}
