### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule dodaj-wydatek add-expense.php
RewriteRule dodaj-przychod add-income.php
RewriteRule przegladaj-bilans index.php
RewriteRule rejestracja registration.php
RewriteRule zaloguj login.php
RewriteRule ustawienia setings.php
