body{
  background: url("img/intersection.png") #efefef;
  background-attachment: fixed;
  color:#398182;
  font-family: 'Titillium Web', sans-serif;
}

svg{

}
/*** LOGO ***/

#logo {
    color: #398182;
    background-color: #efefef;
    margin: 10px 20px 10px 0;
    width: 220px;
    height:62px;
    text-align: left;
    line-height: 30px;
    border-left: 10px solid #398182;
    letter-spacing: 2px;
    font-size: 1.3em;
    -webkit-box-shadow: 0px 0px 25px 10px rgba(204,204,204,.8);
    -moz-box-shadow: 0px 0px 25px 10px rgba(204,204,204,.8);
    box-shadow: 0px 0px 25px 10px rgba(204,204,204,.8);
    transition: border .5s ease-in-out,
   color .5s ease-in-out,
   background-color .5s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    display:block;
}

#logo:hover {
  color: #19B3B5;
  background-color: #f8f8f8;
  border-left: 10px solid #19B3B5;
}

#logo span {
  color: #398182;
  text-shadow:none;
  font-weight: 200;
  transition: all .5s ease-in-out;
}

#logo:hover span {
  color: #19B3B5;
}

#logo i {
  text-decoration: none;
  font-style: normal;
  background-color: #398182;
  display:block;
  float: left;
  margin: 5px 7px 5px 15px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color:white;
  line-height: 40px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  top: -9px;
}

#logo:hover i {
  transform: rotate(360deg);
  background-color:#19B3B5;
}

#logo a{
  font-family: inherit;
  padding: 15px 5px;
  color:inherit;
  display: block;
  width: 100%;
  height: 100%;
}

#logo a:hover{
  text-decoration: none;
  color:inherit;
}

/*** LOGIN PAGE ***/
.form-login a{
  width: 100%;
  display: block;
  color:#398182;
}

.form-login input {
  margin-bottom: 10px;
}

.form-login {
  width:350px;
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  border-left: 10px solid #398182;
  border-right: 10px solid #398182;
  box-shadow: 0px 0px 25px 10px rgba(204,204,204,.8);
}

.form-login h2 {
  color: #999;
  margin: 15px 0 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 1.5em;
}

.form-login .btn {
  margin-top:10px;
  margin-bottom: 20px;
}

.login-header #logo {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: relative;
    left: -70px;
}


/*** MAIN VIEW ***/
.content {
  background-color: #efefef;
  margin:10px 0 0 245px;
  padding: 1% 3% 4%;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  -moz-box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  transition: all 0.6s ease-in-out;
  position: relative;
}

.content h1 {
  border-bottom:1px solid;
}

.content-full {
  margin:10px 0 0;
}

.sidebar{
  width: 220px;
  background-color: rgba(240,240,240,.8);
  margin: 20px 15px;
  padding: 0;
  border:1px solid white;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  -moz-box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  float: left;
  color:white;
  left: 0px;
  z-index: 100;
  position: fixed;
  transition: all 0.5s ease-in-out;
  top:60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar p{
  padding:10px 7px;
  color: rgba(57,129,130,1);
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.sidebar p b{
  text-transform: capitalize;
}

.main-menu ul {
  margin: 0;
  padding: 0px 20px 20px;
}

.main-menu li {
  list-style-type: none;
}

.main-menu li a {
  color:white;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding:10px 7px;
  margin-bottom: 5px;
  background-color: rgba(57,129,130,1);
  text-align: center;
}

.main-menu li a:hover {
  background-color: #19B3B5;
}

.switcher {
  display: block;
  position: relative;
  float: right;
  right: -35px;
  top:20px;
  background-color: rgba(57,129,130,.8);
  width: 35px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  -moz-box-shadow: 0px 0px 10px 5px rgba(204,204,204,.8);
  box-shadow: 8px 0px 10px 2px rgba(204,204,204,.8);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.switcher i {
  padding: 9px 0 4px;
  display: block;
  transition: all 0.5s ease-in-out;
}

.switcher-rotate i {
  transform: rotate(180deg);
}

.hide-sidebar {
  left: -249px;
}

.sticky {
  top: 0;
}

.subCategory{
  display: none;
  padding-left: 20px;
}
.form-group .radio.mainCategory label{
  font-weight:bold;
}

.banner-container{
  background-color: rgba(57,129,130,1);
  background-image: url("img/budget-baner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  color:white;
  text-transform: uppercase;
  max-width: 1920px;
  margin:0 auto;
  display:block;
  box-sizing: border-box;
  position: relative;
}

.overlay h1{
  font-weight: lighter;
  text-align: center;
  font-size:50px;
  padding-top: 115px;
  margin-top:0;
}

.banner-container .overlay{
  background-color: rgba(57,129,130,0.8);
  height: 100%;
  width: 100%;
  display:block;
  box-sizing: border-box;
  position: relative;
}

.banner {
  border-bottom: 4px solid rgba(57,129,130,1);
}

.startpage .description{
  background-color: #E6E7E8;
  padding: 50px 0;
}

.startpage .description .lead{
  font-weight: normal;
}

/*** ADD EXPENSES and ADD INCOME - PAGE ***/
.add-income .btn,
.add-expense .btn {
  margin-top: 15px;
}

/*** BALANCE PAGE ***/
#summary-message {
  margin-top:208px;
  font-size: 1.5em;
}

.chart > div > div{
  margin-left: auto;
  margin-right: auto;
}

.table thead {
  background-color: #398182;
  color:white;
}

.table {
  border-bottom: 4px solid #398182;
}

/*** ADAPTIV STYLE ***/
@media only screen and (max-width: 992px) {
  #summary-message {
    margin-top:0px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .form-login{
    width: 100%;
  }

  .login-header #logo{
    left: 0;
    margin-left: 15px;
  }

  .content{
    margin:5px;
  }
}
